@charset "utf-8";
/* CSS Document */
* {
	margin:0px;
	padding:0px;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-position:0 -160px;
	color:#555;
	/*background-color:rgb(26, 29, 24);*/
	background-color:rgb(247, 245, 245);
}
img {
	border:none;
}
.f_l {
	float:left;
}
.f_r {
	float:right;
}
.f_c {
	margin-left:auto;
	margin-right:auto;
}
.clear {
	clear:both;
}
a {
	text-decoration:none;
	color:#555;
}
a:hover {
	text-decoration:underline;
	color:#555;
}
.box {
	width:960px;
	margin:0 auto;
}
.more {
	font-size:12px!important;
	font-weight:normal !important;
	margin-top: 5px;
	color:#16487d;
}
ul li {
	list-style:none;
}
#navi {
	float:left;
}
#navi a {
    display:block;
    font-size:14px;
    text-decoration:none;
    color:#000;
    height:43px;
    line-height:43px;
    text-align:center;
}
#navi li {
    float:left;
    width:60px;
}
#navi ul {
    padding-left:0;
}
#navi ul a:hover {
    background-color:rgb(45, 45, 45);
	color:#fff;
	font-weight:bold;
}
#header {
    background-image:url(../img/topBg.png);
    background-repeat:repeat-x;
	height:45px;
	width:100%;
}
#logo {
	float:left;
}
#logo a {
	display:block;
	margin-top:5px;
}
#header_right {
	float:left;
	margin-right:10px;
	margin-top:7px;
	font-family:"微软雅黑";
	font-size:18px;
	font-weight:bold;
	padding:0px 20px 0 0;
}
.select_item {
	border:1px #ccc solid;
	padding-top:2px;
	padding-bottom:2px;
}
.searchword {
	color:#999;
	padding-left:5px;
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
	border:1px #ccc solid;
}
.search_submit {
	background:#DDD;
	height:24px;
	line-height:20px;
	border:1px #fff solid;
	width:40px;
	border:none;
	cursor:pointer;
}
#header_right a {
	color:#666;
	font-size:12px;
	margin-left:8px;
	margin-right:8px;
}
.c_blue {
	color:#00f;
}
.c_red {
	color:#f00;
}
.t_center {
	text-align:center;
}
.t_left {
	text-align:left;
}
.t_indent24 {
	text-indent:24px;
}
.f_bold {
	font-weight:bold;
}
.line_h26 {
	line-height:26px;
}
#mainpic {
	/*background-image:url(../img/n_banner.jpg);*/
	width:959px;
	margin-top:3px;
	height:190px;
}
#content {
	margin:5px auto 0;
	width:960px;
	background-image:url(../img/content.png);
	background-repeat:no-repeat;
	background-position:right top;
	padding-bottom:10px;
	padding-left: 5px;
}
#content_left {
	float:left;
    margin-top: 5px;
}
#content_left p {
	width:180px;
}
.index_left_item {
	border:1px #DDD solid;
	margin-top:8px;
	padding-bottom:8px;
	background-color:#fff;
}
.title_1 {
	background-color:rgb(250, 250, 250);
	height:38px;
	border-bottom:1px #ddd solid;
}
.title_1 p {
	cursor:pointer;	
	font-family:arial, helvetica, verdana, tahoma, sans-serif;
	font-weight:bold;
	font-size:18px;
	color:#333;
	padding-left:10px;
	padding-top:10px;
	width:190px;
}
.title_1 a {
	display:block;
}
.title_1 .f_r p {
	width:52px;
} 
.title_1 p span {
	font-size:12px;
	font-weight:normal;
	color:#ccc;
} 
.title_1 img {
	float:left;
}
.index_left {
	width:720px;
	float:left;
}
.index_content {
	width:718px;
}
.index_content li {
	float:left;
	margin-top:10px;
}
.index_content .index_content_teacher li {
	padding-left:14px;
	padding-right:15px;
}
.index_content_teacher {
}
.index_content_teacher .t_center {
	color:#000;
	margin-top:5px;
}
.teacher_remark {
	color:#909090;
	margin-top:3px;
	text-align:center;
}
.index_content_course {
}
.index_content .index_content_course li {
	width:140px;	
	padding-left:25px;
	padding-right:25px;
}
.index_content .index_content_project li {
	width:150px;	
	padding-left:19px;
	padding-right:5px;
}
.index_content_course li .t_center {
	padding-top:4px;
	color:#000;
	font-size:12px;
	white-space:nowrap;
	overflow:hidden;
	word-break:break-all;
	width:145px;
}
.index_content_course li p{
	margin-left:3px;
}
.course_remark {
	color:#909090;
	line-height:20px;
}
.course_remark a {
	color:#909090;
}
.course_remark span {
	background-image:url(../img/teacher_sign2.png);
	background-repeat:no-repeat;
	display:inline-block;
	height:14px;
	width:15px;
	vertical-align:middle;
}
.index_content img {
	border:#d0d0d0 solid 1px;
	padding:2px;
}
.index_content_project li img {
}
.index_content_project li p {
}
.index_content .index_content_project li p {
	overflow:hidden;
	text-overflow:ellipsis;
	word-break:break-all;
	line-height:20px;
}
.index_content .index_content_course img {
	float:none !important;
}
.index_content .f_l {
	margin-top:4px;
	margin-left:8px;
	line-height:20px;
	overflow:hidden;
}
.index_content .f_l span{
	font-weight:bold;
}
#content_left li {
	overflow:hidden;
	text-overflow:ellipsis;
	text-indent:18px;
	white-space:nowrap;
}
.index_right {
	width:235px;
	float:left;
	margin-left:5px;
}
#tiny_ad {
	border:#c6c6c6 solid 1px;
	margin-top:8px;
}
/*.index_right .title_1 {
	background-image:url(../img/1001200901131912080FE41CFAC3EB3342B8E31DFBE58671E.gif);
	background-repeat:repeat-x;
	border-left:#c6c6c6 solid 1px;
}*/
.announcement {
}
.index_content_announcement {
}
.index_content_announcement ul {
	padding-top:5px;
	padding-left:12px;
	padding-bottom:5px;
}
.index_content_announcement p {
	line-height:26px;
	overflow:hidden;
	white-space:nowrap;
	padding-right:5px;
	margin-right:0px;
	width:200px;
	cursor:pointer;
}
.index_content_announcement p:hover {
	text-overflow:inherit;
	overflow:visible;
}
.index_content_announcement li {
	height:26px;
}
.index_content_announcement a:hover {
	color:rgb(200,186,0);
}
#share_message {
	margin-top:20px;
}
#share_message p {
	float:left;
}
#share_message a {
	display:block;
	float:left;
	margin:0 5px;
}
.left_navi {
    margin-bottom:15px;
}
.left_navi a {
    display: block;
    line-height:28px;
    height:28px;
    width:180px;
    margin-left:10px;
    padding-top: 2px;
}
.left_navi a:hover {
    background: #B8D3F1;
    text-decoration: none;
}
#news_center {
	margin-bottom:100px;
}
#news_center li {
	line-height:28px;
	height:28px;
	width:180px;
	overflow:hidden;
	text-overflow:ellipsis;
	text-indent:18px;
	margin-left:15px;
	white-space:nowrap;
}
#news_center a:hover {
	color:#f00;
}
#apply_course {
	margin-bottom:50px;
}
#apply_course li {
	line-height:28px;
	height:28px;
	overflow:hidden;
	text-overflow:ellipsis;
	text-indent:18px;
	margin-left:15px;
	white-space:nowrap;
}
#apply_course a:hover {
	color:#f00;
}
#lesson {
	background-color:#fff;
	margin-left:8px;
}

#lesson td {
	line-height:35px;
}
#lesson td p {
	overflow:hidden;
	text-overflow:ellipsis;
	width:380px;
	background-image:url(../img/disc.png);
	background-repeat:no-repeat;
	background-position:0 center;
	padding-left:15px;
	white-space:nowrap;
}
#page {
	margin:5px auto 0;
	text-align:center;
	line-height:28px;
}
#ad img {
	display:block;
	margin:5px 0;
}

.title_2 {
	background-image:url(../img/title3_bg.png);
	background-repeat:repeat-x;	
	height:36px;
	color:#16487d;
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:13px;
	margin-bottom:10px;	
}
.title_2 p {
	line-height:36px !important;
	text-indent:25px;
}
.text {
	width:650px;
	margin:0 auto;
}
.text li {
	line-height:26px;
}
.weiyiming {
	width:580px;
	text-align:right;
	margin-right:50px;
}
#title_2 p {
	line-height:26px;
	text-indent:24px;
}
.content_foot1 {
	background-image:url(../img/hr.png);
	background-repeat:no-repeat;
	background-position:0 15px;
	height:34px;
	width:930px;
	padding-top:10px;
	margin-left:10px;
}
.content_foot2 {
	background-image:url(../img/content.png);
	background-repeat:no-repeat;
	background-position:left bottom;
	margin-left:auto;
	margin-right:auto;
	height:10px;
	width:960px;
}
#table2 {
	display:none;
}
.submit {
    display:block;
	background-image:url(../img/new-regist.jpg);
	background-repeat:no-repeat;
	background-position:0 -31px;
	width:100px !important;
	height:30px !important;
	line-height:30px;
	cursor:pointer;
	border:0px;
	font-size:13px;
	font-weight:bold;
	color:#fff;
	margin:0 auto;
}
.submit_applynow {
	background-image:url(../img/new-regist.jpg);
	background-repeat:no-repeat;
	width:170px !important;
	height:30px !important;
	cursor:pointer;
	border:0px;
	font-size:13px;
	font-weight:bold;
	color:#f1f1f1;
}
.login_r {
	height:50px;
}
.login_d {
	line-height:12px;
}
.login_d a {
	text-decoration:underline; 
	color:#005aa0;
}
.teacher_name {
    padding-left:10px;
	height:25px;
	line-height:28px;
	width:60px;
	float:left;
	border-bottom:3px solid #cfe2f1;
}
.teacher_name a {
	color:#000;
	font-weight:bold;
}
.tea_intro {
    height:100px;
    overflow:hidden;
	padding:5px 10px 5px 10px;
	text-indent:24px;
	line-height:24px;
	border:1px solid #cfe2f1;
    width:540px;
    float:left;
}
.stu_intro {
    width:500px;
}
.tea_img {
	margin-right:10px;
	margin-bottom:8px;
	float:left;
}
.tea_content {
	margin-top:10px;
	float:left;
}
.news_compile {
	margin:0 auto;
	line-height:50px;
	text-align:center;
}
.news_text {
	text-indent:24px;
	line-height:26px;
}
.change_page {
	line-height:26px;
	margin-top:10px;
}
.change_page a {
	color:#571586;
}
.news_title {
	margin:10px auto 0;
	text-align:center;
	font-size:16px;
	line-height:50px;
	font-weight:bold;
	color:#333;
}
.news_time {
	text-align:center;
}
.news_main {
	margin:10px 30px 0 30px;
	color:#333;
	font-family: "宋体";
    word-wrap:break-word;
/*	font-size: 14px;*/
}
.news_main p, .news_main img {
    margin-bottom:10px;
}
.course_title {
	font-weight:bold;
	text-align:center;
}
.text li td {
	text-align:center;
}
.apply_name {
    font-weight:bold;
	margin-top:10px;
	font-size:18px;
	line-height:26px;
	margin-bottom:10px;
	text-align: center;
	color:#111;
}
#apply_detail {
	width:630px;
	margin:0 auto;
}
#apply_detail ul {
	height:30px;
	margin-top:10px;
	background-color:#6CC;
}
#apply_detail ul li {
	width:95px;
	line-height:30px;
	cursor:pointer;
	float:left;
	text-align:center;
}
.f_red {
	color:#f00;
}
#apply_detail td {
	line-height:24px;
	padding-top:5px;
	vertical-align:top;
}
#apply_detail input {
	border:1px solid #C3C3C3;
	height:18px;
	line-height:18px;
	font-size:12px;
	padding:2px 0px 2px 3px;
}
#apply_detail table {
	margin-bottom:20px;
}
#apply_detail span {
	font-size:16px;
	color:#f00;
}
.border_none {
	border:none !important;
}
.pad_r5 {
	padding-right:5px;
}
.vlign_mid {
	vertical-align:middle;
}
/*list*/
.list_content_right td {
	line-height:26px;
}
.list_courses td p {
    width:390px !important;
}
#page {
	margin:5px auto 0;
	text-align:center;
	line-height:28px;
}
#news_center {
	margin-bottom:100px;
}
#news_center li {
	line-height:28px;
	height:28px;
	width:180px;
	overflow:hidden;
	text-overflow:ellipsis;
	text-indent:18px;
	margin-left:15px;
	white-space:nowrap;
}
#news_center a:hover {
	color:#f00;
}
/*list*/

/*index*/
.mainpic_bg {
/*	background-image:url(../img/header-tail.gif);
	background-repeat:repeat-x;
	background-position:0 -50px;*/
	width:100%
}
#mainpic_index {
	height:180px;
	width:960px;
	margin:0 auto;
	background-image:url(../img/banner.png);
    background-repeat:no-repeat;
}
#content1 {
	background-image:url(../img/content_1.png);
	background-repeat:no-repeat;
	background-position:right top;
	border-left:1px solid #DDD;
	background-color:#fff;
}
.title_1_index {
	color:#16487d;
	margin-top:10px;
	margin-left:10px;
	font-size:16px;
	font-family:"微软雅黑";
	font-weight:bold;
	height:38px;
	line-height:38px;
	border-bottom:5px solid #16487d;
	margin-bottom:10px;
}
.title_1_index span {
	height:15px;
	line-height:15px;
	margin-top:18px;
}
#news {
	float:left;
	width:37.5%;
	padding:0 10px;
	display: inline;
}
#news td p {
	line-height:28px;
	height:28px;
	width:270px;
	overflow:hidden;
	text-overflow:ellipsis;
	background-image:url(../img/disc.png);
	background-repeat:no-repeat;
	background-position:0 center;
	padding-left:15px;
	white-space:nowrap;
}
#lesson_index {
	width:57%;
	float:left;
	margin-left:8px;
}
#lesson_index td {
	line-height:28px;
}
#lesson_index td p {
	overflow:hidden;
	text-overflow:ellipsis;
	width:330px;
	background-image:url(../img/disc.png);
	background-repeat:no-repeat;
	background-position:0 center;
	padding-left:15px;
	white-space:nowrap;
}
.pad_left {
	padding-left:10px;
}
.content1_foot1 {
	background-image:url(../img/hr.png);
	background-repeat:no-repeat;
	background-position:0 -8px;
	height:20px;
	width:930px;
	margin-left:10px;
}
.content1_foot2 {
	background-image:url(../img/content_2.png);
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	height:10px;
	width:960px;
}
#content2 {
	margin-top:5px;
	width:960px;
	background-color:#fff;
}
#content2_left {
	float:left;
	margin-top:5px;
	width:280px;
}
.left_1 {
	width:263px;
	margin:0 auto;
	padding-bottom:10px;
	line-height:24px;
	font-size:12px;
	margin-top:5px;
}
.margin_b5 {
	margin-bottom:5px;
}
.title_2_index {
	background-image:url(../img/title2_bg.jpg);
	background-repeat:no-repeat;
	width:263px;
	height:36px;
	color:#FFF;
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:14px;
	margin-bottom:10px;
}
.title_2_index p {
	line-height:36px;
	text-indent:25px;
}
.title_2_index span{
	margin-right:5px;
	margin-top:16px;
}
.left_1 li {
	line-height:28px;
	height:28px;
	width:230px;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-left:15px;
	white-space:nowrap;
}
#stu {
	width:325px;
	float:left;
}
.information li {
	line-height:28px;
	height:28px;
	width:290px;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-left:15px;
	white-space:nowrap;
}
#content2_right {
	margin-left:3px;
	float:left;
	width:677px;
}
.information {
	margin-top:5px;
	padding-bottom:10px;
}
.stu_change {
	border:1px #DDD solid;
	padding-bottom:5px;
	border-left:none;
	border-right:none;
	border-bottom:none;
}
.stu_change p {
	text-indent:24px;
	line-height:38px;
	height:38px;
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:16px;
}
.stu_change ul {
	white-space:nowrap;
	width:10000px;
}
.stu_change li {
	float:left;
	margin-left:10px;
	height:130px;
	display:inline;
}
.stu_change div a {
	display:block;
	text-align:center; 
	line-height:26px;
}
.stu_change p a {
	color:#16487d;
}
.ws-box {
	height:130px;
	width:600px;
	overflow:hidden;
	float:left;
	display:inline-block;
}
.ws-prev {
	background-image:url(../img/index_icon.png);
	background-repeat:no-repeat;
	background-position:-3px 10px;
	float:left;
	cursor:pointer;
	width:25px; 
	height:74px;
	margin-top:17px;
	margin-left:5px;
}
.ws-next {
	background-image:url(../img/index_icon.png);
	background-repeat:no-repeat;
	background-position:right -116px;
	float:left;
	cursor:pointer;
	width:25px; 
	height:74px;
	margin-top:17px;
	margin-left:10px;
}
#set_course {
	width:263px;
	margin:0 auto;
	padding-bottom:10px;
}
.title_3_index {
	background-image:url(../img/title3_bg.gif);
	background-repeat:no-repeat;
	background-position:0 -4px;
	height:38px;
	color:#16487d;
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:16px;
	margin-bottom:5px;	
}
.title_3_index p {
	line-height:38px;
	text-indent:35px;
}
.title_3_index span{
	margin-right:5px;
	margin-top:16px;
}
#set_course li {
	line-height:28px;
	height:28px;
	width:230px;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-left:10px;
	white-space:nowrap;
}
#friend_link {
	overflow:hidden;
	float:left;
	width:325px;
	margin-left:15px;
}
.link_l {
	width:90px;
}
#link {
	background-color:#FFF;
	line-height:26px;
	border:1px solid #DDD;
	margin-top:10px;
	display:inline-block;
	width:233px;
}
#link li {
	list-style:none;
	float:left;
	padding-left:10px;
	white-space:nowrap;
}
.img_link img {
	margin:3px 0;
	border:1px solid #ccc;
	padding:1px;
}
/*index*/
#foot {
	margin:50px auto 0 auto;
	background-color:#dedede;
	border-top:6px solid #CCC;
}
#foot p {
	padding-top:12px;
	padding-bottom:15px;
	text-align:center;
	line-height:22px;
	color:#333;
}
#qqcontact {
	position:absolute;
	position:fixed;
	top:200px;
	background-color:#fff;
	right:20px;
	border:1px solid #f00;
	width:90px;
}
#K1 {
	line-height:26px;
	background-image:url(../img/qqkf.jpg);
	background-repeat:no-repeat;
	text-align:center;
	color:#fff;
	font-size:13px;
	font-family:"微软雅黑";
	font-weight:bold;
	margin:1px 1px;
}
#qqcontact p {
	line-height:26px;
	width:70px;
	margin:0 auto;
}
.captcha{
    vertical-align: top;
    padding-left: 20px;
}
.apply_error{
    line-height: 30px;
    background: #FF5500;
    color: #FFF;
    padding-left:20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.apply_notice {
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
    font-weight: bold;
}
#search {
    margin: 10px 0;
}
.search td {
    line-height: 32px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #DDD;
    border-bottom-color: #DDD;
    padding-left: 5px;
}
.search table{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #DDD;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #DDD;
    text-align: left;
    font-size: 12px;
}
.input_1 {
    font-size:12px;
    padding:4px 3px;
    border:1px solid #C3C3C3;
}
.cert_search {
    line-height:34px;
    padding-top: 10px;
}
.cert_error {
    line-height: 30px;
    color: #F00;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.article_border {
    /*border-left: 1px solid #E3E3E3;
    border-top:1px solid #E3E3E3;*/
}
.group_name {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.group_left {
    float: left;
    width: 120px;
}
.group_content {
    float: right;
    width: 520px;
}
#myposition {
	padding-top:10px;
	padding-bottom:10px;
	text-indent: 10px;
}
#teacher_detail {
	border:1px solid #DDD;
	width:680px;
	background-color:#fff;
	float:left;
}
.title_4 {
	font-size:16px;
	color:#d2771f;
	height:40px;
	line-height:40px;
	font-weight:bold;
	margin-left:20px;
	border-bottom:2px solid rgb(250,147,42);
	text-indent:10px;
}
#teacher_detail #share_message {
	margin-top:2px;
	margin-left:20px;
}
.teacher_pic {
	margin-top:30px;
	margin-left:20px;
}
.teacher_pic img {
	border:1px solid #d0d0d0;
    padding:2px;
	margin-left:10px;
	float:left;
}
.teacher_pic .f_l {
	margin-left:30px;
}
.teacher_name_detail {
	font-size:22px;
	font-weight:bold;
	color:#000;
}
.teacher_name_detail span {
	font-size:14px;
	color:rgb(250,147,42);
}
.teacher_qualification {
	font-size:14px;
	color:rgb(250,147,42);
	margin-top:30px;
	font-weight:bold;
}
.teacher_pic .f_l h1 {
	font-size:14px;
	margin-top:15px;
	font-weight:bold;
	color:#000;
}
.intro {
	margin-top:20px;
	margin-left:30px;
	margin-right:30px;
}
.intro .title_4 {
	border-bottom:1px solid rgb(250,147,42);
	margin-left:0px;
	text-indent:0px;
	margin-bottom:30px;
}
.text_paragraph {
	text-indent:2em;
	color:#000;
	line-height:22px;
}
.intro h2 {
	font-size:16px;
	color:#d2771f;
	font-weight:bold;
	width:600px;
	margin-top:20px;
	margin-bottom:10px;
	font-size:15px;
}
.course_review {
	margin-left:30px;
	margin-right:30px;
	float:left;
	margin-top:10px;
}
.course_review p {
	text-align:center;
	color:#000;
	height:26px;
	line-height:26px;
}
.secondweb_right {
	float:right;
}
.secondweb_right .title_1 {
	width:270px;
}
.right_item {
	border:1px solid #DDD;
	margin-bottom:10px;
	background-color:#fff;
    width:270px;
}
.right_item li {
	color:#000;
	height:24px;
    width:246px;
	line-height:24px;
	background-image:url(../img/li_point.png);
	background-repeat:no-repeat;
	background-position:15px 9px;
	background-color:transparent ;
	text-indent:26px;
    text-overflow:ellipsis;
    white-space:nowrap; 
    overflow:hidden; 
}
.right_item li:hover {
	text-overflow:inherit;
	overflow:visible;
}
.teacher_list li {
	float:left;
	padding-bottom:10px;
	padding-top:10px;
	width: 168px;
	text-align: center;
}
.teacher_list li img {
    margin: 0 auto 5px auto;
}
.teacher_list {
	margin-top:10px;
	padding-bottom: 20px;
}
.bg_249 {
	background-color:rgb(249,249,249);
}
.teacher_list,.course_list .t_center {
	margin-top:5px;
}
.course_list li {
	float:left;
	padding-left:11px;
	padding-right:12px;	
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:1px solid #eee;
}
.course_list li p {
	white-space:nowrap;
	overflow:hidden;
	word-break:break-all;
	width:145px;
}
#teacher_detail td {
	height:18px;
	line-height:28px;
	border-bottom:1px dashed #ddd;
    padding-left:5px;
}

#content_right {
	width:680px;
	line-height: 22px;
	margin-top:20px;
	margin-bottom:5px;
}
.list_content_right td p {
	overflow:hidden;
	text-overflow:ellipsis;
	width:500px;
	white-space:nowrap;
}