@charset "utf-8";
/* CSS Document */
img {
	border:none;
}
.f_l {
	float:left;
}
.f_r {
	float:right;
}
.f_c {
	margin-left:auto;
	margin-right:auto;
}
.clear {
	clear:both;
}
.box {
	width:960px;
	margin:0 auto;
}
ul li {
	list-style:none;
}
ul {
    margin: 0;
    padding: 0;
}
#navi {
    background-image:url(../img/topBg.png);
}
#navi a {
    display:block;
    font-size:14px;
    text-decoration:none;
    color:#FFF;
    height:43px;
    line-height:43px;
    text-align:center;
    padding: 0 15px;
}
#navi li {
    float:left;
}
#navi ul {
    padding-left:540px;
}
#navi ul a:hover {
    background-color:#333;
	color:#fff;
}
#logo {
	float:left;
}
#logo a {
	display:block;
	margin-top:5px;
}
#header_right {
	float:left;
	margin-right:10px;
	margin-top:7px;
	font-family:"微软雅黑";
	font-size:18px;
	font-weight:bold;
	padding:0px 20px 0 0;
}
#header_right a {
	color:#666;
	font-size:12px;
	margin-left:8px;
	margin-right:8px;
}
.c_blue {
	color:#00f;
}
.c_red {
	color:#f00;
}
.t_center {
	text-align:center;
}
.t_left {
	text-align:left;
}
.f_bold {
	font-weight:bold;
}